@font-face {
  font-family: 'digital';
  src: url('fonts/digital-7.ttf');
}

@font-face {
  font-family: 'rockin';
  src: url('fonts/rockin.ttf');
}

body {
	background-image: url('media/background-small.jpg');
}

#pagetitle {
	text-align: center;
}

#play-area {
	text-align: center;
}

#buttons {
	text-align: center;
}

#instructions-button:hover .instructions {
		visibility: visible;
} 

#container {
	overflow: hidden;
	position: relative;
}

#centerdiv  {
	position: relative;
	margin-left: auto; 
	margin-right: auto;
	width: 800px;
}

#game-state {
	position: absolute;
	margin-top: 200px;
	z-index: 3;
	font-family: "Tahoma", Geneva, sans-serif;
	margin-left: 85px;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	font-size: 100px;
	color: rgb(213,40,8);	
}

#timer {
	color: rgb(206,0,0);
	text-shadow: 2.5px 2.5px #000000;
	font-size: 100px;
	font-family: digital;
	text-align: center;
}

#new-game-button {
	text-align: center;
	display: inline-block;
	background:linear-gradient(to bottom, #7892c2 5%, #1056ad 100%);
	box-shadow: 0px 12px 17px -7px #0a0c12;
	border-radius: 20px;
	border:2px solid black;
	cursor:pointer;
	color: #ffffff;
	font-size:15px;
}

#start-button {
	text-align: center;
	display: inline-block;
	background:linear-gradient(to bottom, #7892c2 5%, #1056ad 100%);
	box-shadow: 0px 12px 17px -7px #0a0c12;
	border-radius:20px;
	border:2px solid black;
	cursor:pointer;
	color: #ffffff;
	font-size:15px;
	margin-right: 900px;
}

#instructions-button {
	display: inline-block;
	background: linear-gradient(to bottom, #7892c2 5%, #1056ad 100%);
	box-shadow: 0px 12px 17px -7px #0a0c12;
	border-radius: 20px;
	border: 2px solid black;
	cursor:pointer;
	color: #ffffff;
	font-size: 15px;
}

.instructions {
	position: absolute;
	visibility: hidden;
	background: #3399FF;
	color: #000000;
	z-index: 4;
	width: 550px;
	height: 220px; 
	font-size: 15px;
	font-family: "Tahoma", Geneva, sans-serif;
	border: 3px solid black;
	opacity: 0.9;
	box-shadow: -12px 13px 5px 0px rgba(50, 50, 50, 0.75);
	left: 30%;
	bottom: 30%;
}

.instructions li {
	text-align: left;
}

#best-time {
	margin-left: auto;
    margin-right: auto;
	text-shadow: 1px 1px #ADAD85;
	text-align: center;
	font-family: rockin;
	font-size: 25px;
	width: 400px;
	height: 35px;
	margin-bottom: 10px;
} 

table td .matched {
    position: absolute;
    z-index: 2;
	top: 0px;
	left: 0px;
}

.gametray {
	background-color: black;
	border: 3px solid black;
	display: inline-block;
	margin-left: 20px;
}

.gametray td {
	position: relative;
	background-color: #003399;
	border: 1px solid black;
	height: 90px;
	width: 90px;
}

.gametray img { 
	display: block;
	height: 90px;
	width: 90px;
}

.piecetray {
	background-color: #003399;
	border: 3px solid black;
	display: inline-block;
	margin-right: 20px;
	max-height: 600px;
}

.piecetray td {
	border: 1px solid transparent;
	height: 90px;
	width: 90px;
}

.piecetray img {
	position: relative;
	display: block;
	height: 90px;
	width: 90px;
}





















